`Prerequisites`

To complete this exercise, you must have access to the `little_lemon` database. As an authorized user, you need to establish a connection between Python and the database via the connector API and create a cursor object

Once the connection is established, and you have a cursor object, you can select the database little_lemon and print the names of the tables

You should have the four created tables from previous labs in your database envionrment


#### **Learning objectives**

* Perform UPDATE and DELETE tasks in a MySQL database using Python.


`Scenario:`
* Little Lemon restaurant need to update the records of customers in their database. 
* They also need to delete records related to menu items.

### **Task 1**
Little Lemon need a list of all guests and their booking slots. Extract the information from the bookings table using a MySQL SELECT statement and display it in a neat format.

* This output will serve more as a baseline and how the changes are impacting the bookings

In [1]:
import mysql.connector as connector

try:
    connection=connector.connect(user="root", password="")
    print('Connection established!')
except connector.Error as e:
    print(f"""
    Error code : {e.errno}|
    Error message : {e.msg}
    """)

Connection established!

In [2]:
cursor = connection.cursor()

# select little_lemon db
cursor.execute('USE little_lemon;')

In [3]:
## We'll be looking at various returns from the same table following updates so we'll make a function
def booking_returns(query, curs):
    # Execute query
    curs.execute(query)
    # Extract column names
    columns = curs.column_names
    # print columns before iterating over table's values
    print(columns)
    # iterate over rows and print each to see values for table following update/delete
    for row in curs:
        print(row)

* With the function defined we can now see about the table's returns prior to the updates in subsequent tasks

In [4]:
# Initial values for Bookings
booking_returns('SELECT * FROM Bookings', cursor)

('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 8, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

### **Task 2**

* Change the guest Diana Pinto’s booking to table 10 in Little Lemon’s MySQL database using an SQL UPDATE statement in Python. Once you’ve completed the statement, I'm going to copy the code above to see the new table output

In [7]:
#10 (to change back too)
update_diana_table = """
UPDATE Bookings
SET TAbleNo = 10 WHERE BookingID = 6 AND GuestFirstName = 'Diana'
"""

# execute query
cursor.execute(update_diana_table)

# commit changes to database w/connnection
connection.commit()

In [8]:
# Let's look at the updated values with a call to our function
booking_returns('SELECT * FROM Bookings', cursor)

('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 12, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 1)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

* Cool, we can see that following the commit we have successfully updated the table based on the business need

### **Task 3:**

Little Lemon has encountered a conflict with two bookings. 
* To resolve the conflict, you need to update the record for the guest `Joakim Iversen`.

Update Joakim’s booking in the MySQL database using Python as follows:
* Change the guest’s table number to 11.
* Change the EmployeeID of the guest’s waiter to 6.

In [10]:
update_joakim = """
UPDATE Bookings
SET TableNo = 11, EmployeeID = 6
WHERE BookingID = 2 AND GuestFirstName = 'Joakim'
"""
# execute update
cursor.execute(update_joakim)
# commit to database
connection.commit()
# review table output to match expected as detailed in lesson
booking_returns('SELECT * FROM Bookings', cursor)

('BookingID', 'TableNo', 'GuestFirstName', 'GuestLastName', 'BookingSlot', 'EmployeeID')
(1, 12, 'Anna', 'Iversen', datetime.timedelta(seconds=68400), 1)
(2, 11, 'Joakim', 'Iversen', datetime.timedelta(seconds=68400), 6)
(3, 19, 'Vanessa', 'McCarthy', datetime.timedelta(seconds=54000), 3)
(4, 15, 'Marcos', 'Romero', datetime.timedelta(seconds=63000), 4)
(5, 5, 'Hiroki', 'Yamane', datetime.timedelta(seconds=66600), 2)
(6, 10, 'Diana', 'Pinto', datetime.timedelta(seconds=72000), 5)

### **Task 4**
Little Lemon restaurant didn’t receive their regular supply of ingredients today. 
- This means that they can’t provide any Greek cuisine for their guests. 
- They need to delete all Greek cuisine from their menu until the supply of ingredients is restored.

In [11]:
# Let's see what menus looks like before hand - the function is more dynamic than it's name lol
booking_returns('SELECT * FROM Menus', cursor)

('MenuID', 'ItemID', 'Cuisine')
(1, 1, 'Greek')
(1, 7, 'Greek')
(1, 10, 'Greek')
(1, 13, 'Greek')
(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')

In [12]:
# so now we want to delete all Greek items
delete_stmt = """
DELETE FROM Menus WHERE Cuisine = 'Greek'
"""
# execute
cursor.execute(delete_stmt)
# commit to database connection
connection.commit()
# review Menus return
booking_returns('SELECT * FROM Menus', cursor)

('MenuID', 'ItemID', 'Cuisine')
(2, 3, 'Italian')
(2, 9, 'Italian')
(2, 12, 'Italian')
(2, 15, 'Italian')
(3, 5, 'Turkish')
(3, 11, 'Turkish')
(3, 16, 'Turkish')
(3, 17, 'Turkish')