### Set up the database

This reading outlines the steps you need to take to set up a database for the graded assessment.

`Little Lemon` is a family-owned Mediterranean restaurant. They are developing a Python-based application that needs to connect with the MySQL database so that the booking, menu and orders data can be stored in the respective tables. 

The restaurant owner wants to use the stored data to make data-driven decisions to increase their revenue. Establishing a database is one of their key objectives.

In [1]:
import mysql.connector as connector
try:
    connection=connector.connect(user="root", password="")
    print('Connection established!')
except connection.Error as e:
    print(f"""
    Error code : {e.errno}|
    Error message : {e.msg}
    """)

Connection established!

In [2]:
# Set Up Cursor
cursor = connection.cursor()

# Print Avaialable Databases
cursor.execute('SHOW DATABASES')
print([x for x in cursor.fetchall()])

[('automobile',), ('information_schema',), ('jewelrystore_db',), ('Lucky_Shrub',), ('luckyshrub_db',), ('Mangata_Gallo',), ('mysql',), ('performance_schema',), ('restaurant',), ('soccer',), ('sys',)]

* Now we want to recreate the little_lemon db that we were using so we can drop first then start with populating the tables and data
```python
cursor.execute('DROP DATABASE IF EXISTS little_lemon')
```

In [3]:
# Database is no more we can create and use
cursor.execute("CREATE DATABASE IF NOT EXISTS little_lemon_db")
# Use database
cursor.execute('USE little_lemon_db')

### Create Tables

In [4]:
#MenuItems table
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""


create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""


create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""


create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(200),
Role VARCHAR(100),
Address VARCHAR,
Contact_Number INT,
Email VARCHAR (100),
Annual_Salary VARCHAR(100)
);"""

In [5]:
## Execute and create tables
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ',
Role VARCHAR,
Address VARCHAR,
Contact_Number INT,
Email VARCHAR (100),
Annual' at line 3

In [ ]:
# Create Employees table
cursor.execute(create_employees_table)