`Prerequisites`

To complete this exercise, you must have access to the `little_lemon` database. As an authorized user, you need to establish a connection between Python and the database via the connector API and create a cursor object

Once the connection is established, and you have a cursor object, you can select the database little_lemon and print the names of the tables

You should have the four created tables from previous labs in your database envionrment


#### **Learning objectives:**
* Filter data in a MySQL database using Python
* Sort data in a MySQL database using Python


`Scenario:`

Little Lemon need to filter and sort the data in their MySQL database using Python to complete the following tasks:
* Determine which waiter is serving which guest,
* Identify all guests who paid a bill amount above a certain threshold,
* And list all starters above a certain price and order with the price.

In [1]:
import mysql.connector as connector

try:
    connection=connector.connect(user="root", password="")
    print('Connection established!')
except connector.Error as e:
    print(f"""
    Error code : {e.errno}|
    Error message : {e.msg}
    """)

Connection established!

In [2]:
cursor = connection.cursor()

# select little_lemon db
cursor.execute('USE little_lemon;')

# print out db in use
f'We are connected to : {connection.database}'

'We are connected to : little_lemon'

### **Task 1:**

Little Lemon need you to help them query their database to find out 
* how many bookings they have today for table number `12`
* They also need to know the names of the `guests` booked for table 12 and who their servers are. 

`Fields`

* TableNo,
* GuestFirstName,
* GuestLastName,
* EmployeeID.

In [3]:
filter_table_12 = """
SELECT
    TableNo, GuestFirstName, GuestLastName, EmployeeID AS Server
FROM Bookings
WHERE TableNo = 12
ORDER BY BookingID 
"""
# execute query 
cursor.execute(filter_table_12)

# View frows from cursor
print(cursor.column_names)
for row in cursor.fetchall():
    print(row)

('TableNo', 'GuestFirstName', 'GuestLastName', 'Server')
(12, 'Anna', 'Iversen', 1)

### **Task 2:**

Little Lemon want to send a coupon to all guests who spent more than `$40` at the restaurant today. Help Little Lemon to filter and sort the records of all guests who qualify for coupons.

In [5]:
orders_gt40_customers = """
SELECT
    o.BookingId, o.BillAmount, b.GuestFirstName, b.GuestLastName
FROM Orders AS o
INNER JOIN Bookings AS b
    ON o.BookingID = b.BookingID
WHERE o.BillAmount > 40
ORDER BY o.BillAmount DESC;
"""
# Execute query
cursor.execute(orders_gt40_customers)
# View rows for cursor
print(cursor.column_names)
for row in cursor.fetchall():
    print(row)

('BookingId', 'BillAmount', 'GuestFirstName', 'GuestLastName')
(1, 86, 'Anna', 'Iversen')
(5, 43, 'Hiroki', 'Yamane')

### **Task 3:**

A guest wants to know the price of today’s starters and desserts. So Little Lemon need to extract the price of today’s STARTERS and DESSERT options from their database. 

* Create a query that extracts the prices and details of starters and dessert options only from the MenuItems table. 
* Order these prices from lower to higher.

In [6]:
menu_starters_dessert = """
SELECT * 
FROM MenuItems
WHERE Type in ('Starters', 'Desserts')
ORDER BY Price;
"""
# execute query
cursor.execute(menu_starters_dessert)
# view rows, columns first
print(cursor.column_names)
for row in cursor.fetchall():
    print(row)

('ItemID', 'Name', 'Type', 'Price')
(12, 'Cheesecake', 'Desserts', 4)
(1, 'Olives', 'Starters', 5)
(2, 'Flatbread', 'Starters', 5)
(6, 'Hummus', 'Starters', 5)
(11, 'Ice cream', 'Desserts', 6)
(5, 'Falafel', 'Starters', 7)
(10, 'Greek yoghurt', 'Desserts', 7)
(3, 'Minestrone', 'Starters', 8)
(4, 'Tomato bread', 'Starters', 8)