### Generic guidelines:

`Prerequisites`:

To complete this exercise, you must have access to the MySQL database. As an authorized user, you need to establish a connection between Python and MySQL via the connector API and create a cursor object using the following code:

#### **Learning objectives:**
* Execute SQL queries to create a database and tables in MySQL using Python.
* Organize and structure tables in a MySQL database using Python.


`Scenario:`
Little Lemon needs a Python-based application in which they can organize their data within different tables in a MySQL database.

First, they need to create their database. Then they need to create the databaseâ€™s tables.  

The list of tables they need to create are as follows: 
* A table called Menu that stores menu data 
* A table called MenuItems that stores data on menu items 
* A table called Orders that stores data on customer orders 
* And a table called Bookings that stores data on customer bookings 

Complete the tasks that follow to help Little Lemon create the database and the tables.

### **Task 1:**
* Little Lemon needs to create a database that can hold their tables. 
* Create a MySQL database for Little Lemon using Python. You can call the database `little_lemon`. 
* You also need to confirm that the database has been successfully executed using the SHOW DATABASE query

In [1]:
import mysql.connector as connector

try:
    connection=connector.connect(user="root", password="")
    print('Connection established!')
except connector.Error as e:
    print(f"""
    Error code : {e.errno}
    Error message : {e.msg}
    """)

Connection established!

#### - Drop, Create, Show Databases in Cursor

In [2]:
# Create Cursor object to execute SQL statements
cursor = connection.cursor()

# Drop database if exists
cursor.execute('DROP DATABASE IF EXISTS little_lemon')

# Create little lemon
cursor.execute('CREATE DATABASE little_lemon')

In [3]:
# Show databases to create iterable to view database
cursor.execute('SHOW DATABASES')
for database in cursor:
    print(database)

('automobile',)
('information_schema',)
('jewelrystore_db',)
('little_lemon',)
('Lucky_Shrub',)
('luckyshrub_db',)
('Mangata_Gallo',)
('mysql',)
('performance_schema',)
('restaurant',)
('soccer',)
('sys',)

### **Task 2:**
* Set the newly created database little_lemon for use. 
* Confirm that the database is available for use by using connection.database

In [4]:
# view current database object with associated connection\

## Have to set the cursor first as right now the previous last item was the the show databases value which we iterated through
cursor.execute('USE little_lemon')
print(f'The database in use for the current connection is : {connection.database}')

The database in use for the current connection is : little_lemon

### **Task 3**
* Create a `MenuItems` table
* Once you have executed the code, use the `SHOW TABLES` command to confirm that the table has been created
    - You should just see the one table created

In [5]:
# Create table
create_menu_items = """
CREATE Table MenuItems(
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

# execute w/cursor
cursor.execute(create_menu_items)

In [6]:
# SHOW tables query to execute
cursor.execute('SHOW TABLES')
for table in cursor:
    print(table)

('MenuItems',)

### **Task 4**
* Create the Menus table to store data on menus

In [9]:
create_menu_table = """
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

## If there are multiple sql statements in your query, select multi to True (see delimiter ; in use for each statement)
cursor.execute(create_menu_table)

# Iterate through table to see if we have multiple tables in connection object
cursor.execute('SHOW TABLES')
for table in cursor:
    print(table)

('MenuItems',)
('Menus',)

### **Task 5**
* Create the Bookings table to store data on customer bookings

In [15]:
create_booking_table = """
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Execute
cursor.execute(create_booking_table)

# Loop through tables return from recent cursor execute statement
cursor.execute('SHOW TABLES')
for table in cursor:
    print(table)

('Bookings',)
('MenuItems',)
('Menus',)

In [13]:
cursor.execute('SHOW TABLES')
for table in cursor:
    print(table)

('MenuItems',)
('Menus',)

### **Task 6**
* Create an Orders table to store data on customer orders

In [16]:
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

cursor.execute(create_orders_table)

# See all tables
cursor.execute('SHOW TABLES')
for table in cursor:
    print(table)

('Bookings',)
('MenuItems',)
('Menus',)
('Orders',)

In [17]:
# Close out connection and cursor instance
cursor.close()
connection.close()